set nocompatible
filetype plugin indent on
{{- if (ne .chezmoi.os "windows") }}

call plug#begin()

" Neovim's (not yet) inbuilt lsp plugin config
Plug 'neovim/nvim-lspconfig'

" Completion support
Plug 'hrsh7th/nvim-compe'

" Code snippets
Plug 'hrsh7th/vim-vsnip'
Plug 'hrsh7th/vim-vsnip-integ'

" File manager
Plug 'mcchrish/nnn.vim'

" Search tool (using ripgrep)
Plug 'mileszs/ack.vim'

" Comments stuff out
Plug 'preservim/nerdcommenter'

" Start screen for vim
Plug 'mhinz/vim-startify'

" Vim fancy status bar
Plug 'vim-airline/vim-airline'

" NVIM icons wow
Plug 'kyazdani42/nvim-web-devicons'

" Vim fancy tab line
Plug 'romgrk/barbar.nvim'

" Dracula theme
Plug 'dracula/vim', {'as': 'dracula'}

" Git integration
Plug 'tpope/vim-fugitive'
Plug 'airblade/vim-gitgutter'
Plug 'rhysd/git-messenger.vim'

" Auto pair
Plug 'Raimondi/delimitMate'

" Color Highlighting !!!
Plug 'norcalli/nvim-colorizer.lua'

" Rainbow paranthesis
Plug 'luochen1990/rainbow'

" Indentation lines
Plug 'lukas-reineke/indent-blankline.nvim', {'branch': 'lua'}

" Loads of language syntax highlighting
Plug 'nvim-treesitter/nvim-treesitter', {'do': ':TSUpdate'}  " We recommend updating the parsers on update
Plug 'romgrk/nvim-treesitter-context'
Plug 'nvim-treesitter/nvim-treesitter-refactor'

" Multiple cursor
Plug 'mg979/vim-visual-multi', {'branch': 'master'}

" Removes annoying search highlighting
Plug 'romainl/vim-cool'

" To profile startup
Plug 'dstein64/vim-startuptime', {'on': 'StartupTime'}

" fish syntax (remove if treesitter gets support)
Plug 'blankname/vim-fish', {'for': 'fish'}

call plug#end()
{{ end }}

"
" Cross platform tweaks
"

" Change leader to space
let mapleader = "\<Space>"

" Silent remap function
function! Map(lhs, rhs, modes)
    for m in a:modes
        execute m.'noremap' '<silent>' a:lhs a:rhs
    endfor
endfunction

" Swap two lines
nnoremap <silent> <C-j> :m .+1<CR>==
nnoremap <silent> <C-k> :m .-2<CR>==
inoremap <silent> <C-j> <Esc> :m .+1<CR>==gi
inoremap <silent> <C-k> <Esc> :m .-2<CR>==gi
vnoremap <silent> <C-j> :m '>+1<CR>==gv
vnoremap <silent> <C-k> :m '<-2<CR>==gv

{{ if (ne .chezmoi.os "windows") }}
" Unix line endings
set fileformats=unix

" True terminal colors
set termguicolors

" Tabbing the right way
set tabstop=4
set shiftwidth=4
set expandtab
inoremap <silent> <S-Tab> <C-d>

" Relative line number
set number
set relativenumber
" Toggle line numbering (useful when copying mutliple lines)
nnoremap <silent> <leader>d :set nu! rnu! <CR>

" Enable hidden buffers (don't need to save when switching files
set hidden

{{ if not .is_wsl -}}
" Use system clipboard (not working in wsl)
set clipboard+=unnamedplus
{{ end -}}

" Create terminal buffer
nnoremap <silent> <Leader><CR> :term <CR>

" Run nnn as a floating window
let g:nnn#layout = { 'window': { 'width': 0.9, 'height': 0.6, 'highlight': 'Debug' } }

" NNN binds
let g:nnn#action = {
      \ '<c-t>': 'tab split',
      \ '<c-x>': 'split',
      \ '<c-v>': 'vsplit' }

" Use ripgrep for ack
if executable('rg')
    let g:ackprg = 'rg --vimgrep --smart-case'
endif

" Abbreviations for ack
cnoreabbrev rg Ack
cnoreabbrev Rg Ack
cnoreabbrev rG Ack
cnoreabbrev RG Ack

"
" UI
"
{{ if .is_wsl }}
colorscheme dracula
" Hold shift to disable
set mouse=a
{{ else }}
colorscheme dracula
hi Normal guibg=NONE ctermbg=NONE
{{ end }}
" Airline theming 
let g:airline_theme='dracula'
let g:airline_powerline_fonts = 1

" Tab autohide
let bufferline = get(g:, 'bufferline', {})
let bufferline.auto_hide = v:true

" Enable rainbow
let g:rainbow_active = 1

nmap <C-_> <Plug>NERDCommenterToggle
vmap <C-_> <Plug>NERDCommenterToggle<CR>gv
imap <C-_> <esc><Plug>NERDCommenterToggle gi

" Add spaces after comment delimiters by default
let g:NERDSpaceDelims = 1

" Use compact syntax for prettified multi-line comments
let g:NERDCompactSexyComs = 1

" Allow commenting and inverting empty lines (useful when commenting a region)
let g:NERDCommentEmptyLines = 1

" Enable trimming of trailing whitespace when uncommenting
let g:NERDTrimTrailingWhitespace = 1

" Enable NERDCommenterToggle to check all selected lines is commented or not
let g:NERDToggleCheckAllLines = 1"

let g:NERDCustomDelimiters = {
    \ 'dosini': { 'left': '#' }
\ }

"
" Misc
"
" detect zig files
au BufRead,BufNewFile *.zig set filetype=zig
au BufRead,BufNewFile *.zir set filetype=zir


" removes annoying paren highlighting
let g:loaded_matchparen=1

"
" buffer manipulation using leader + key
"

" Leave terminal insert mode using Esc+i 
tnoremap <silent> <Esc>i <C-\><C-n>

" Magic buffer picker
nnoremap <silent> <Leader>m :BufferPick<CR>
" List buffers
nnoremap <silent> <Leader>? :ls<CR>
" Ordering
nnoremap <silent> <Leader>, :BufferPrevious<CR>
nnoremap <silent> <Leader>. :BufferNext<CR>
nnoremap <silent> <Leader>> :BufferMoveNext<CR>
nnoremap <silent> <Leader>< :BufferMovePrevious<CR>
" Position
nnoremap <silent> <Leader>1 :BufferGoto 1<CR>
nnoremap <silent> <Leader>2 :BufferGoto 2<CR>
nnoremap <silent> <Leader>3 :BufferGoto 3<CR>
nnoremap <silent> <Leader>4 :BufferGoto 4<CR>
nnoremap <silent> <Leader>5 :BufferGoto 5<CR>
nnoremap <silent> <Leader>6 :BufferGoto 6<CR>
nnoremap <silent> <Leader>7 :BufferGoto 7<CR>
nnoremap <silent> <Leader>8 :BufferGoto 8<CR>
nnoremap <silent> <Leader>9 :BufferGoto 9<CR>
" Last used buffer
nnoremap <silent> <Leader>l :e#<CR>
" Close buffer
nnoremap <silent> <Leader>c :BufferClose!<CR>


" Snippet binds
inoremap <silent><expr> <C-Space> compe#complete()
inoremap <silent><expr> <CR>      compe#confirm({ 'keys': "\<Plug>delimitMateCR", 'mode': '' })
inoremap <silent><expr> <C-e>     compe#close('<C-e>')
inoremap <silent><expr> <TAB> pumvisible() ? "\<C-n>" : "\<TAB>"
inoremap <expr><S-TAB> pumvisible() ? "\<C-p>" : "\<C-h>"

" Blankline plugin settings
let g:indent_blankline_use_treesitter = v:true
let g:indent_blankline_show_first_indent_level = v:false

" Source lua init file
lua require('init')

{{ else -}}
nnoremap <silent> <C-/> <Plug>NERDCommenterToggle
vnoremap <silent> <C-/> <Plug>NERDCommenterToggle<CR>gv
inoremap <silent> <C-/> <esc><Plug>NERDCommenterToggle gi

{{- end -}}
