{{- $fullName := "Omar Zeghouani" -}}
{{- $email := promptString  "email" -}}
{{- $gpgKey := secret "get" (cat $email "GPG short ID") -}}
{{- $sshPublicKey := secret "get" (cat $email "SSH public key") -}}
{{- $sshPrivateKey := secret "get" (cat $email "SSH private key") -}}
{{- $pager := or (lookPath "delta") "less -FRSX" -}}
{{- $editor := or (lookPath "nvim") "vi" -}}
{{- $isWsl := or (env "WSL_DISTRO_NAME") (env "WSLENV") | not | not -}}
{{- $isWayland := and (and (eq .chezmoi.os "linux") (not $isWsl)) (promptBool "wayland") -}}
{{- $isX11 := and (not $isWsl) (not $isWayland) -}}
{{- $isLaptop := and (and (eq .chezmoi.os "linux") (not $isWsl)) (promptBool "laptop") -}}

[diff]
  format = "git"
  pager = {{ $pager | quote }}

[merge]
  command = {{ $editor | quote }}
  args = "-d"

[secret]
  command = {{ lookPath "rbw" | quote }}

[data]
  name = {{ $fullName | quote }}
  email = {{ $email | quote }}
  gpg_key = {{ $gpgKey | trim | quote }}
  ssh_public_key = {{ $sshPublicKey | trim | quote }}
  ssh_private_key = {{ $sshPrivateKey | quote }}
  pager = {{ (base $pager) | quote }}
  editor = {{ (base $editor) | quote }}
  is_laptop = {{ $isLaptop }}
  is_wsl = {{ $isWsl }}
  is_x11 = {{ $isX11 }}
  is_wayland = {{ $isWayland }}
