{{ $fullName := "Omar Zeghouani" }}
{{ $personalEmail := "omarzeghouanii@gmail.com" }}
{{ $isWsl := or (env "WSL_DISTRO_NAME") (env "WSLENV") | not | not }}
{{  $isX11 := and (env "DISPLAY") (eq (env "XDG_SESSION_TYPE") "x11") | not | not }}
{{ $isWayland :=  and (env "WAYLAND_DISPLAY") (eq (env "XDG_SESSION_TYPE") "wayland") | not | not }}

[diff]
    format = "git"
    pager = "delta"

[merge]
    command = "nvim"
    args = "-d"

[data]
    name = "{{ $fullName }}"
    email = "{{ $personalEmail }}"
    is_wsl = {{ $isWsl }}
    is_x11 = {{ $isX11 }}
    is_wayland = {{ $isWayland }}
