[user]
    email = {{ .email }}
    name = {{ .name }}
{{ if lookPath "gpg" -}}
[commit]
    gpgSign = true
[gpg]
    program = gpg
[user]
    signingkey = {{ secret "get" (cat .email "GPG short ID") }}
{{- end }}
[push]
    default = simple
{{ if (contains "delta" .pager) -}}
[pager]
    diff = {{ .pager }}
    log = {{ .pager }}
    reflog = {{ .pager }}
    show = {{ .pager }}
[delta]
    syntax-theme = Dracula
{{- end }}
