[user]
	email = {{ .email }}
	name = {{ .name }}
{{ if (contains "delta" .pager) }}
[pager]
    diff = {{ .pager }}
    log = {{ .pager }}
    reflog = {{ .pager }}
    show = {{ .pager }}
[delta]
    syntax-theme = Dracula
{{ end }}
[push]
    default = simple
