{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash

# Distro specifc
{{ if (eq .chezmoi.osRelease.id "void")}}
{{ if and (not (eq (env "XDG_SESSION_DESKTOP") "sway")) (not (env "XDG_RUNTIME_DIR")) }}

{{ if (not (stat "/var/service/seatd")) }}
# Set up seatd
sudo ln -s /etc/sv/seatd /var/service
sudo usermod -a -G _seatd {{ (env "USER") }}
{{- end -}}

{{ if (not (contains "pam_rundir.so" (output "cat" "/etc/pam.d/system-login"))) }}
# Set up pam_rundir
echo -ne '-session optional pam_rundir.so\n' | sudo tee -a /etc/pam.d/system-login
{{- end -}}

{{ if and (not (stat "/etc/sv/dbus")) (not (stat "/var/service/dbus")) }}
# Set up dbus
sudo ln -s /etc/sv/dbus /var/service
{{ end }}

{{ if and (stat "/etc/sv/iwd") (not (stat "/var/service/iwd")) }}
# Set up iwd
sudo ln -s /etc/sv/iwd /var/service
{{ end }}

{{ if and (stat "/etc/sv/ead") (not (stat "/var/service/ead")) }}
# Set up ead
sudo ln -s /etc/sv/ead /var/service
{{ end }}

{{ if and (stat "/etc/sv/sshd") (not (stat "/var/service/sshd")) }}
# Set up openssh
sudo ln -s /etc/sv/sshd /var/service
{{ end }}

{{ if and (stat "/etc/sv/chronyd") (not (stat "/var/service/chronyd")) }}
# Set up openntpd
sudo ln -s /etc/sv/chronyd /var/service
{{ if (not (stat "/etc/localtime")) }}
sudo ln -sf /usr/share/zoneinfo/Europe/London /etc/localtime
{{ end }}
{{ end }}

{{ if and (stat "/etc/sv/bluetoothd") (not (stat "/var/service/bluetoothd")) }}
# Set up bluetooth
sudo ln -s /etc/sv/bluetoothd /var/service
{{- end -}}

{{ end }}
{{ end }}

# General config
{{ if not (contains "fish" (env "SHELL")) }}
sudo -u {{ (env "USER") }} chsh -s {{ or (lookPath "fish") (lookPath "bash") | quote }}
{{- end }}
{{ if and (lookPath "gpg") (not (stat (list (env "HOME") "/.gnupg/pubring.kbx" | join ""))) -}}
export GPG_TTY=$(tty)
rbw get {{ quote (cat .email "GPG private key" ) }} | gpg --import --batch
unset GPG_TTY
{{- end }}
# vim: ft=chezmoitmpl
{{- end }}
