{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

{{ if not (lookPath "brew") -}}
bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{- end }}

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "git"
brew "coreutils"
brew "nnn"
brew "trash-cli"
brew "fish"
brew "git-delta"
brew "neovim"
brew "gnupg"
brew "zoxide"
brew "fzf"
brew "bat"
brew "fd"
brew "ripgrep"
cask "kitty"
tap "homebrew/cask-fonts"
cask "font-iosevka"
{{ if .is_personal -}}
brew "syncthing"
{{- end }}
EOF
{{ end -}}
