[Commands]
{{ if and (.is_wayland) (lookPath "wtype") -}}
1\Command="copyq:\npaste = function() {\n    var x = execute(\n        'wtype',\n        '-M', 'ctrl', '-M','shift', '-k', 'v')\n    if (!x)\n        throw 'Failed to run wtype'\n    if (x.stderr)\n        throw 'Failed to run wtype: ' + str(x.stderr)\n}"
1\HideWindow=true
1\Icon=\xf15b
1\InMenu=true
1\Input=text/plain
1\Name=Paste
1\Shortcut=p
{{- end }}
2\Command=copyq: plugins.itempinned.pin()
2\Icon=\xf08d
2\InMenu=true
2\Input=!OUTPUT
2\Name=Pin
2\Output=application/x-copyq-item-pinned
3\Command=copyq: plugins.itempinned.unpin()
3\Icon=\xf08d
3\InMenu=true
3\Input=application/x-copyq-item-pinned
3\Name=Unpin
4\Command=copyq: plugins.itemtags.tag(decodeURIComponent('Important'))
4\Icon=\xf02b
4\InMenu=true
4\MatchCommand=copyq: plugins.itemtags.hasTag(decodeURIComponent('Important')) && fail()
4\Name=Tag as \x201cImportant\x201d
5\Command=copyq: plugins.itemtags.untag(decodeURIComponent('Important'))
5\Icon=\xf02b
5\InMenu=true
5\MatchCommand=copyq: plugins.itemtags.hasTag(decodeURIComponent('Important')) || fail()
5\Name=Remove tag \x201cImportant\x201d
6\Command=copyq: plugins.itemtags.tag()
6\Icon=\xf02b
6\InMenu=true
6\Name=Add a Tag
7\Command=copyq: plugins.itemtags.untag()
7\Icon=\xf02b
7\InMenu=true
7\Input=application/x-copyq-tags
7\Name=Remove a Tag
8\Command=copyq: plugins.itemtags.clearTags()
8\Icon=\xf02b
8\InMenu=true
8\Input=application/x-copyq-tags
8\Name=Clear all tags
size=8
