#!/usr/bin/env sh

# Description: Edit file as superuser
#
# Shell: POSIX compliant
# Author: Anna Arad

EDITOR="${EDITOR:-editor}"
{{ if lookPath "sudoedit" }}
sudoedit -E "$1"
{{- else if lookPath "sudo" }}
sudo -E "$EDITOR" "$1"
{{- else if lookPath "doas" }}
doas "$EDITOR" "$1"
{{- end }}

