#!/usr/bin/env sh

# Description: Run fzf/skim and go to the directory of the file selected
#
# Shell: POSIX compliant
# Author: Anna Arad

. "$(dirname "$0")"/.nnn-plugin-helper

{{ if lookPath "fzf" }}
sel=$(fzf)
{{- else if lookPath "sk" }}
sel=$(sk)
{{- else }}
exit 1
{{- end }}

if [ -n "$sel" ]; then
    if [ "$sel" = "." ] || { ! [ -d "$sel" ] && ! [ -f "$sel" ]; }; then
        exit 0
    fi


    # Check if selected path returned
    # by fzf command is absolute
    case $sel in
    /*) nnn_cd "$sel" ;;
    *)
        # Remove "./" prefix if it exists
        sel="${sel#./}"

        if [ "$PWD" = "/" ]; then
            nnn_cd "/$sel"
        else
            nnn_cd "$PWD/$sel"
        fi;;
    esac
fi
