{{- $isWsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}

[data]
    # Chezmoi env variables
    is_wsl = {{ $isWsl }}

    # User info
    name = "Omar Zeghouani"
    email = "omarzeghouanii@gmail.com"
    editor = "nvim"

[diff]
    format = "git"
    pager = "delta"
[merge]
    command = "nvim"
    args = "-d"
