vim.g.mapleader = " "
vim.g.maplocalleader = "  "

vim.o.tabline = "%!v:lua.require'modules.tabline'.tabline()"

vim.opt.undolevels = 10000

-- Overriden by vim-undodir-tree
vim.opt.undofile = false

{{ if (eq .chezmoi.os "linux") -}}
vim.opt.shell = '{{ or (lookPath "bash") (lookPath "sh")}}'
{{- end }}

vim.opt.backup = false
vim.opt.writebackup = true

-- Editing text files
vim.opt.spell = true
{{ if stat (joinPath .chezmoi.homeDir ".config/nvim/spell/en.utf.8.add") -}}
vim.opt.spellfile = '{{ (output "readlink" "-f" (joinPath .chezmoi.homeDir ".config/nvim/spell/en.utf.8.add")) | trim }}'
{{- end }}
vim.opt.spelllang = { "en_gb" }
vim.opt.conceallevel = 2

vim.opt.confirm = true

vim.opt.autochdir = true

vim.opt.updatetime = 250

vim.opt.termguicolors = true

vim.opt.hidden = true

vim.opt.hlsearch = true
vim.opt.ignorecase = true
vim.opt.infercase = true
vim.opt.smartcase = true
vim.opt.wildignorecase = true

vim.opt.virtualedit = "block"

vim.opt.mouse = "nv"

vim.opt.lazyredraw = true

vim.opt.whichwrap = "<,>,h,l,[,]"

vim.opt.viewoptions = ""

vim.opt.showbreak = "↳\\"
vim.opt.list = true
vim.opt.listchars = {
  space = "⋅",
  eol = "↲",
  tab = "──",
  trail = "•",
  extends = "»",
  precedes = "«",
  nbsp = "␣"
}
vim.opt.fillchars = {
  vert = "▏",
  diff = "╱",
}

vim.opt.showtabline = 2

vim.opt.wrap = true
vim.opt.linebreak = true
vim.opt.breakindent = true
vim.opt.breakindentopt = "sbr"

vim.opt.foldenable = false

vim.opt.number = true
vim.opt.relativenumber = true

vim.opt.signcolumn = "yes:1"

-- Ensure c syntax is use for header files
vim.g.c_syntax_for_h = 1

{{ if (eq .chezmoi.os "linux") -}}
{{ if .is_wsl -}}
{{ if lookPath "win32yank.exe" -}}
vim.g.clipyank = '{{ lookPath "win32yank.exe" }} -i --crlf'
{{ else -}}
vim.g.clipyank = '{{ lookPath "clip.exe" }}'
{{- end }}
{{ else if .is_wayland -}}
vim.g.clipyank = '{{ lookPath "wl-copy" }}'
{{ else if .is_x11 -}}
vim.g.clipyank = '{{ lookPath "xclip" }}'
{{ end }}
{{ else if (eq .chezmoi.os "windows") -}}
vim.g.clipyank = '{{ lookPath "clip.exe" }}'
{{ else if (eq .chezmoi.os "darwin") -}}
vim.g.clipyank = '{{ lookPath "pbcopy" }}'
{{- end }}

-- vim: ft=lua sw=2
