{{ if not (stat (list (env "HOME") "/.config/fish/functions/fisher.fish" | join "")) -}}
if not functions -q fisher
    curl -sfL https://git.io/fisher > $HOME/.config/fish/functions/fisher.fish
end
{{- end }}
# Remove vi mode indicator
function fish_mode_prompt; end
# fish_vi_key_bindings default

# TODO: bind Y, utilising osc52 script

# Disable question mark glob
set -U fish_features qmark-noglob

# Source init scripts
# init_source zoxide
