status is-interactive || exit

# Git Aliases from https://bitsofco.de/git-aliases-for-lazy-developers/
{{ if lookPath "git" -}}
abbr --add gs "git status"
abbr --add gf "git fetch"
abbr --add gm "git merge"
abbr --add gd "git diff"
abbr --add ga "git add"
abbr --add gaa "git add -A"
abbr --add gcam "git commit -am"
abbr --add gca "git commit -a"
abbr --add gcaa "git commit -a --amend"
abbr --add gp "git push"
abbr --add gu "git pull"
abbr --add grb "git rebase"
abbr --add grs "git restore"
abbr --add gsb "git switch"
abbr --add gpo "git push origin" # + branch name
abbr --add gl "git log --stat"
abbr --add gpom "git push origin master"
abbr --add gb "git branch" # + branch name
abbr --add gc "git checkout" # + branch name
abbr --add gcb "git checkout -b" # + branch name
{{- end }}
# C utils
{{ if lookPath "valgrind" -}}
abbr --add vgmc "valgrind --tool=memcheck --leak-check=yes --show-reachable=yes"
{{- end }}

{{ if lookPath "sudoedit" -}}
abbr --add se "sudoedit"
{{- end }}

# Chezmoi
abbr --add czm "chezmoi"
