# TODO: add arch aliases

{{ if (eq (get .chezmoi.osRelease "idLike") "debian") -}}
alias aup "sudo apt update && apt list --upgradable"
alias aguu "sudo apt update && sudo apt upgrade"
alias allpkgs 'dpkg --get-selections | grep -v deinstall'
alias agud "sudo apt update && sudo apt dist-upgrade"
# Batcat
{{ if lookPath "batcat" -}}
alias bat "batcat"
{{- end }}
{{- end }}
{{ if lookPath "fuzzypkg" -}}
alias xs "fuzzypkg"
{{- end }}
# Fish
alias src "source ~/.config/fish/config.fish"
