[theme]
name = "dracula"

[icons]
name = "material-nf"

[[block]]
block = "music"
buttons = ["prev", "play", "next"]
marquee = false
dynamic_width = true
separator = " "
interface_name_exclude = ["firefox"]
{{ if lookPath "ncspot" -}}
on_click = "~/.local/bin/i3-quickterm spotify"
on_collapsed_click = "~/.local/bin/i3-quickterm spotify"
{{- end }}

{{ if (eq (get .chezmoi.osRelease "idLike") "debian") -}}
[[block]]
block = "apt"
interval = 1800
format_singular="{count:1}"
format = "{count:1}"
critical_updates_regex = "(linux |linux-lts|linux-zen)"
on_click = "APT_CONFIG=/tmp/i3rs-apt/apt.conf apt list --upgradable | tail -n +2 | cut -f1 -d '/' | rofi -dmenu"
{{ else if (eq .chezmoi.osRelease.id "void") -}}
[[block]]
block = "custom"
command = "xbps-install -Mun | tee /tmp/xbps-updates | grep '' -c"
interval = "once"
on_click = "cat /tmp/xbps-updates | rofi -dmenu"
{{- end }}

{{ if ($kdeconnect := (lookPath "kdeconnect-cli")) -}}
# TODO: investigate why it can't connect to kde daemon
# [[block]]
# block = "kdeconnect"
# [block.format]
# full = "{name:5} {bat_icon}{bat_charge:3} {notif_icon}{notif_count}"
# short = "{bat_icon}{bat_charge} {notif_icon}{notif_count}"
# TODO: add onclick launch rofi menu with notifications
{{ end }}

[[block]]
block = "cpu"
interval = 1
format = "{utilization:3}"
on_click = "~/.local/bin/i3-quickterm btm_simple"

[[block]]
block = "memory"
format_mem = "{mem_used_percents:2}"
format_swap = "{mem_used;M}"
clickable = true
interval = 5
warning_mem = 80
critical_mem = 95

[[block]]
block = "sound"
show_volume_when_muted = true
max_vol = 150
format = "{volume:3}"
on_click = "pkill rofi || ~/.local/bin/switch-audio-sink"

{{ if .is_laptop }}
# NOTE: requires custom udev rule to change brightness
[[block]]
block = "backlight"
{{ end }}

[[block]]
block = "weather"
format = "{temp:2}"
autolocate = true
service = { name = "openweathermap", api_key = "8865f0dc0c6c3b4f0fc601fd063f5be1", place = "London", units = "metric" }
on_click = "~/.local/bin/i3-quickterm weather"

# Airpods
[[block]]
block = "bluetooth"
label = " Pods"
mac = "14:60:CB:C7:B4:2A"
format_unavailable = ""
hide_disconnected = true

# Bose QC35s
[[block]]
block = "bluetooth"
label = " QC35"
mac = "60:AB:D2:42:04:74"
format_unavailable = ""
hide_disconnected = true
# on_click = "i3-nagbar -m $(based-connect -b 60:AB:D2:42:04:74) -type warning"

[[block]]
block = "net"
format = "{signal_strength:3}"
{{ if ($iwgtk := (lookPath "iwgtk")) -}}
on_click = "pkill iwgtk || {{ $iwgtk }}"
{{- end }}

# [[block]]
# block = "networkmanager"
# on_click = "~/.local/bin/networkmanager-dmenu"
# primary_only = true
# device_format = "{icon}{ap}"
# ap_format = "{strength}"

{{ if lookPath "rofication-json" }}
[[block]]
block = "custom"
command = ''' rofication-json '''
interval = 5
on_click = "rofication-gui"
hide_when_empty = true
json = true
{{ end }}

{{ if .is_laptop }}
[[block]]
block = "battery"
format = "{percentage:2}"
on_click = "~/.local/bin/i3-quickterm battery"
{{ end }}

[[block]]
block = "time"
interval = 1
format = "%R"
on_click = "pkill rofi || ~/.local/bin/rofi-calendar"
icons_format = " "

# vim: ft=toml
