icons_format = "{icon}"

[theme]
theme = "dracula"

[icons]
icons = "material-nf"

[[block]]
block = "music"
format = " $icon {$combo.str(max_w:20) $play $next |} "
interface_name_exclude = ["firefox"]
{{ if lookPath "ncspot" -}}
[[block.click]]
button = "left"
cmd = "~/.local/bin/i3-quickterm spotify"
{{- end }}

{{ if (eq .os_id "linux-void") -}}
[[block]]
block = "custom"
command = "xbps-install -Mun | tee /tmp/xbps-updates | grep '' -c"
interval = "once"
[[block.click]]
button = "left"
cmd = "cat /tmp/xbps-updates | rofi -dmenu"
{{- end }}

{{ if lookPath "docker" -}}
[[block]]
block = "docker"
interval = 10
{{- end }}

[[block]]
block = "cpu"
format = " $icon $utilization.eng(w:3) "
[[block.click]]
button = "left"
cmd = "~/.local/bin/i3-quickterm btm_simple"

[[block]]
block = "disk_space"
path = "/"
info_type = "available"
alert_unit = "GB"
interval = 20
warning = 20.0
alert = 10.0
format = " $icon root: $available.eng(w:2) "

[[block]]
block = "memory"
format = " $icon $mem_total_used_percents.eng(w:2) "
format_alt = " $icon $mem_total_used "

[[block]]
block = "sound"
format = " $icon $volume.eng(w:3) "
show_volume_when_muted = true
[[block.click]]
button = "left"
cmd = "pkill rofi || ~/.local/bin/switch-audio-sink"

{{ if .is_laptop -}}
[[block]]
block = "backlight"
{{- end }}

[[block]]
block = "weather"
format = " $icon $temp"
[block.service]
name = "openweathermap"
api_key = "8865f0dc0c6c3b4f0fc601fd063f5be1"
city_id = "2643743"
units = "metric"
[[block.click]]
button = "left"
cmd = "~/.local/bin/i3-quickterm weather"

[[block]]
block = "net"
format = " $icon $signal_strength"
[[block.click]]
button = "left"
cmd = "pkill iwgtk || iwgtk"

{{ if .is_laptop -}}
[[block]]
block = "battery"
device = "BAT0"
format = " $icon $percentage"
full_format = " $icon $percentage"
not_charging_format = " $icon $percentage"
[[block.click]]
button = "left"
cmd = "~/.local/bin/i3-quickterm battery"
{{- end }}


[[block]]
block = "time"
interval = 5
format = " $timestamp.datetime(f:%R) "
[[block.click]]
button = "left"
cmd = "pkill rofi || ~/.local/bin/rofi-calendar"

# vim: ft=toml
